/* Con este snippet al inicio podemos aplicar el box-sizing a todos los elementos del html */
html {
  box-sizing: border-box;
}
*, *:before,*:after {
  box-sizing: inherit;
}

/* h1 {
  color: #000; */
/* color: rgb(83 , 85, 126, .5); */
/* } */

/* aplica a todos los span dentro de h1 por ejemplo*/
/* h1 span {
  color: #037bc0;
} */

/* mayor especifidad, tiene mayor prioridad en el css */
/* footer a {
  text-transform: uppercase;
}

a {
  text-transform: lowercase;
} */

/* SubSelectores nos ayudan a seleccionar un cierto elemento */
/* nav a:first-child {
  text-transform: uppercase;
  font-size: 50px;
} */

/* nav a:last-of-type {
  text-transform: uppercase;
  font-size: 50px;
}*/

/*
nav a:nth-child(3) {
  text-transform: uppercase;
  font-size: 50px;
} */

/* Pseudo selectores */
/* !important no se recomienda usar pero se puede usar para que tenga la mayor prioridad */
/* nav a { */
/* text-transform: uppercase!important;  */
/* text-transform: uppercase;  */
/* } */

/* las clases tiene mayor prioridad que las etiquetas y es mas recomendado usar esto sobre id */
/* .navegacion a { 
  text-transform: lowercase;
} */

/* los id tienen mayor peso */
/* #navegacion a {
  text-transform: capitalize;
} */

/* .enlace {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #037bc0;
} */

/* Tipos de escritura de CSS: Módulos, BEM, SMACSS */
/* Módulos */
/* .navegacion {
  background-color: #e1e1e1;
}

.navegacion a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #037bc0;
} */


.nombre-sitio {
  /* margin-top: 100px;
  margin-bottom: 100px; */
  padding-top: 100px;
  padding-bottom: 100px;
}


.nombre-sitio span {
  color: #037bc0;
}

/* //! BoxModel - Se compone de estos 4 importantes elementos
Contenido
Padding
Border
Margin */

.sobre-nosotros {
  background-color: red;
  width: 200px;
  padding: 25px;
   /*box-sizing: border-box; para que el padding no se salga del contenedor */
}

.sobre-empresa {
  background-color: blue;
  width: 500px;
  padding: 100px;
    /*box-sizing: border-box; para que el padding no se salga del contenedor */
}

/* Padding: Es el espacio que hay entre el contenido y el borde (hacia adentro del elemento)
Margin: Es el espacio que hay entre el borde y el borde de otro elemento (Hacia afuera del elemento)*/
