$color: rgb(7, 7, 224);
$color2: rgb(84, 134, 130);

body {
    background-color: $color;
    font-size: 4rem;
    display: flex;
    gap: 2rem;
}

h1 {
    color: $color2; 
}

div {
    display: grid;
    grid-template-columns: 3rem;
}